accelerate==0.25.0
activations==0.1.0
asposestorage==1.0.2
bitsandbytes==0.42.0
causal_conv1d==1.1.1
datasets==2.18.0
debug_utils==1.0
deepspeed==0.14.0
django_cache_utils==0.7.2
einops==0.8.0
fastapi==0.111.1
flash_attn==2.5.6
gradio==4.38.1
huggingface_hub==0.23.4
jieba==0.42.1
mamba_ssm==1.2.0.post1
modelscope==1.16.1
nltk==3.8.1
optuna==3.6.1
packaging==24.1
pandas==2.0.3
peft==0.7.1
pydantic==2.8.2
pytorch_utils==0.5.5
ray==2.32.0
Requests==2.32.3
rouge_chinese==1.0.3
safetensors==0.4.3
setuptools==45.2.0
sse_starlette==2.1.2
torch==2.1.0+cu118
tqdm==4.66.1
transformers==4.40.0
trl==0.8.6
uvicorn==0.30.3
wandb==0.17.5
